
h1 {
  color: silver;
  background-color: gray;
  border: 5px solid black;

}

h2 {
    color: black;
    background-color: silver;
    border: 2px solid black;
    padding: 30x;
    margin: 5px;
    width: 400px;
  }

h1{
  font-family: 'Baloo Chettan';
}
h3{
  font-family: 'Baloo Chettan';
}
a {
  display: block;
}

p {
  display: inline;
}

img {
  display: block;
}
